@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IAccessTokenProvider TokenProvider

<h3>Game Room</h3>




@code {

    

}
